<div class="row">
  <div class="large-12 columns">
    <%= fa_icon('flag', class: 'public-holiday-color') %>
    <%= public_holiday.name %>
    <div class="right">
      <%= part_of_day(public_holiday) %>
    </div>
  </div>
</div>
